*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color:#1E1B24;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
   
}
    
label ,h1{
    color:#C79467;
}
label{
    font-size: large;
}
.formulario{
    padding: 10%;
    border: #C79467 solid 2px;
    width: 400px;
    height: 450px;
    border-radius: 40PX;
    gap: 40px;
   
}
input{
    background: transparent;
    color: white;
    border-radius: 2rem;
}
button{
    margin-left: 15%;
    margin-top: 20%;
    text-align: center;
    width: 50%;
    height: auto;
    font-size: larger;
    border-radius: 2rem;
    background-color: #C79467;
    color: white;
}